.links {
	display: flex;
	align-items: center;
}

.link {
	border: 2px solid transparent;
	border-radius: 4px;
	padding: 13px 50px;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: var(--light-color);
	background-color: var(--green-haze);
	transition: all 0.2s;

	&:hover {
		border: 2px solid var(--green-haze);
		color: var(--dark-color);
		background-color: transparent;
	}
}

.link-transparent {
	margin-right: 35px;
	font-size: 20px;
	line-height: 25px;
	transition: opacity 0.2s;

	&:hover {
		opacity: 0.6;
	}
}
