// * Максимальная ширина макета
$container-width: 1400;

:root {
	// * Colors
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #e27d5f;
	--accent-color: #01996d;
	--mine-shaft: #292929;
	--alto: #d6d6d6;
	--tundora: #484848;
}
