// * Максимальная ширина макета
$container-width: 1400;

:root {
	// * Colors
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #e27d5f;
	--accent-color: #9fd4ff;
	--mine-shaft: #292929;
	--green-haze: #01996d;
	--alto: #d6d6d6;
}
