<header class="header">
	<div class="header__container">
		<a class="header__logo logo">
			<img class="logo__img" src="@img/header/logo.png" alt="Logo" />
		</a>
		<div class="header__menu menu">
			<button class="menu__burger burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" href="#" data-goto=".section-1">Why Alivio</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#" data-goto=".section-2">Solutions</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#" data-goto=".section-3">Community</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#" data-goto=".section-4">Pricing</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__links links">
			<a class="links__item link-transparent link-reset" href="#/">Sign in</a>
			<a class="links__item link link-reset" href="#/">Start Trial</a>
		</div>
	</div>
</header>
